main {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

main img {
  width: 100%;
  height: auto;
}

.imagens {
  display: flex;
  max-width: 340px;
  margin-inline: auto;
  gap: 1rem;
}




@media (width >= 80em) {
.imagens {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-left: 10px;
  }

main img {
    width: 286px;
    height: 286px;
  }
}