nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 1rem;

  line-height: 0;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: .5rem;
}

nav ul li:last-child img {
  width: 40px;
  height: 40px;
}

@media (width >= 80em) {
  nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 0;
}


nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 24px;
}
}
